.main-container {

    display: grid;
    background-color: ;

    .card-container {
        width: 20rem;
        position: relative;

        img {
            width: 100%;
            border-radius: .5rem;
        }

        .text {
            position: absolute;
            width: 100%;
            top: 0;

            p{
                font-size: 12px;
                background-color: rgba(2, 2, 2, 0.763);
                color: white;
                margin-top: 50px;

            }


        }

    }

}