@import "../../scss/variable";


.navbar {
    background-color: $cardNavBgColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.25rem;

    i {
        font-size: 1.5rem;
        color: $secondaryColor;
        display: none;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        color: $secondaryColor;



        li {
            padding: .5rem;
            cursor: pointer;

            &:hover {
                background-color: $secondaryColor;
                color: $cardNavBgColor;
                border-radius: 5px;
            }

        }

    }


}

@media (max-width: 42.5rem) {

    .navbar {

        i {
            display: block;

        }

        li {
            display: none;
        }
        
    }





}